/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
@font-face {
  font-family: "";
  src: url("") format("woff2"), url("") format("woff");
}

/* ******************************** */

/* Colores */
:root {
  --color-primary: #ae0021;
}
/* ******************************** */

html{
  scroll-behavior: smooth;
}

body{
  background-color: black;
}
.container{
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

video{
  /* position: absolute; */
      top: 0;
      left: 0;
      width: 100vw;
      height: auto;
      object-fit: cover;
      z-index:1;

}
sib-form{
  position: absolute;
  bottom: 0;
}
.main__button{
  position: absolute;
  bottom: calc(100svh - 91%);
  /* right: -100%; */
  right: 0;
  margin-right: -100%;
  width: calc(100svw - 10%);
  height: auto;
  /* z-index:1; */
  background-color: var(--color-primary);
  color: rgb(245, 245, 245);
  font-size: 2rem;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  outline: none;
  /* display: none; */
  box-shadow: 5px -5px 9px rgba(5, 5, 5, 0.9);
  transition: all 2s ease-in-out 0s;
  
  z-index: 2;
}
.btn-active{
  /* display:block; */
  width: 100%;
  /* right: 0; */
  /* left: 0; */
  /* margin-left: auto; */
  margin-right: 0;
  /* transition: all 0.5s ease-in-out; */
  cursor: pointer;
}



